.checkbox:checked + .checkbox-icon {
  background-color: $accent-color;
  border-color: $accent-color;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
